apiVersion: apps/v1
kind: Deployment
metadata:
  name: redis
  namespace: "{{ redis_namespace }}"
spec:
  replicas: 1
  selector:
    matchLabels:
      app: redis
  template:
    metadata:
      labels:
        app: redis
    spec:
      containers:
        - name: redis
          image: "{{ redis_image }}"
          ports:
            - containerPort: {{ redis_port }}
          command: ["redis-server", "--appendonly yes"]
          volumeMounts:
            - name: redis-storage
              mountPath: /data
      volumes:
        - name: redis-storage
          {{ redis_volume_config | indent(4) }}
