apiVersion: v1
kind: Service
metadata:
  name: {{ redis_host }}
  namespace: {{ redis_namespace }}
spec:
  selector:
    app: redis
  ports:
    - protocol: TCP
      port: 6379
      targetPort: {{ redis_port }}
  type: ClusterIP
